* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

/* Header start */
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: black;
  width: 100%;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
}
.logo1 {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.header-logo i {
  color: rgb(143, 190, 73);
  font-size: 20px;
}
.logo-text1 {
  font-weight: bolder;
  font-size: 20px;
}
.logo-text2 {
  font-weight: 100;
}
.buy-now-button {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(143, 190, 73);
}

/* Header responsive site*/

/* Header end */

/* Banner start */
.banner-wrapper{
    margin-top: 55.2px;
    overflow: hidden;
}
.bg-images-wrap {
  position: relative;
  width: 100%;
}

.bg-image1,
.bg-image2,
.bg-image3 {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
  transform: scaleX(1);
  animation: fadeInOut 12s ease-in-out infinite;
}

.bg-image1 {
  animation-delay: 0s;
}
.bg-image2 {
  animation-delay: 3s;
}
.bg-image3 {
  animation-delay: 6s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scaleX(1);
  }
  5% {
    opacity: 1;
    transform: scaleX(1.01);
  }
  30% {
    opacity: 1;
    transform: scaleX(1.03);
  }
  80% {
    opacity: 0;
    transform: scaleX(1.1);
  }
  100% {
    opacity: 0;
    transform: scaleX(1.1);
  }
}
.text-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 8px rgba(243, 243, 243, 0.8);
}
.innerH1{
    font-style: italic;
}
.BannerH1, .BannerPara, .BannerButton{
    margin-bottom: 2rem;
}
.BannerPara{
    font-size: 1rem;
}
.BannerButton button{
    padding: 0.5rem 2rem;
    background-color: transparent;
    color: white;
    border-color: white;
    font-size: 1rem;
    
}
/* Banner responsive site */

@media (max-width: 1024px){
    .text-wrap{
        font-size: 1.5rem;
    }
    .BannerPara{
        font-size: 0.7rem;
    }
    .BannerButton button{
        font-size: 0.7rem;
    }
}
@media (max-width: 768px){
    .text-wrap{
        font-size: 1.3rem;
    }
}
@media (max-width: 485px){
    .text-wrap{
        font-size: 0.5rem;
    }
    .BannerPara{
        transform: scaleX(0.85);
    }
    .BannerButton button{
        font-size: 0.6rem;
    }
}
/* Banner end */
