* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  font-family: Manrope, sans-serif;
  color: black;
  background-color: white;
}

/* Header start */
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: black;
  width: 100%;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
}
.logo1 {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.header-logo i {
  color: rgb(143, 190, 73);
  font-size: 20px;
}
.logo-text1 {
  font-weight: bolder;
  font-size: 20px;
}
.logo-text2 {
  font-weight: 100;
}
.buy-now-button {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(143, 190, 73);
}

/* Header responsive site*/

/* Header end */

/* Banner start */
.banner-wrapper {
  margin-top: 55.2px;
  overflow-x: hidden;
}
.bg-images-wrap {
  position: relative;
  width: 100%;
}

.bg-image1,
.bg-image2,
.bg-image3 {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
  transform: scaleX(1);
  animation: fadeInOut 12s ease-in-out infinite;
}

.bg-image1 {
  animation-delay: 0s;
}
.bg-image2 {
  animation-delay: 3s;
}
.bg-image3 {
  animation-delay: 6s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scaleX(1);
  }
  5% {
    opacity: 1;
    transform: scaleX(1.01);
  }
  30% {
    opacity: 1;
    transform: scaleX(1.03);
  }
  80% {
    opacity: 0;
    transform: scaleX(1.1);
  }
  100% {
    opacity: 0;
    transform: scaleX(1.1);
  }
}
.text-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 8px rgba(243, 243, 243, 0.8);
}
.innerH1 {
  font-style: italic;
}
.BannerH1,
.BannerPara,
.BannerButton {
  margin-bottom: 2rem;
}
.BannerPara {
  font-size: 1rem;
}
.BannerButton button {
  padding: 0.5rem 2rem;
  background-color: transparent;
  color: white;
  border-color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
}
.BannerButton button:hover {
  transition: 0.5s;
  color: black;
  background-color: white;
}
/* Banner responsive site */

@media (max-width: 1024px) {
  .text-wrap {
    font-size: 1.5rem;
  }
  .BannerPara {
    font-size: 0.7rem;
  }
  .BannerButton button {
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .text-wrap {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  .bg-image1,
  .bg-image2,
  .bg-image3 {
    max-height: 30rem;
  }
  .text-wrap {
    font-size: 0.5rem;
    max-height: 30rem;
  }
  .BannerPara {
    transform: scaleX(0.85);
  }
  .BannerButton button {
    font-size: 0.6rem;
  }
}

/* Banner end */

/* AboutUs start */

.aboutUs-wrapper {
  overflow-x: hidden;
  background-color: rgb(255, 255, 226);
  position: relative;
  padding: 7rem 7rem;
  color: rgb(44, 44, 44);
}
.heading1 {
  margin-bottom: 2rem;
}
.heading1 h5 {
  font-weight: 600;
  font-size: 15px;
}
.heading2 h1 {
  font-size: 3.3rem;
}
.italicHead {
  font-style: italic;
}
.heading2 {
  margin-bottom: 2rem;
}
.HeadingPara {
  display: flex;
  gap: 6rem;
  color: rgb(95, 95, 95);
  margin-bottom: 2rem;
  line-height: 1.5rem;
}
.HeadingPara-left {
  text-align: justify;
}
.HeadingPara-right {
  text-align: justify;
}
.column-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}
.column1 {
  width: 50%;
}
.column2 {
  width: 50%;
}
.vision-box h2 {
  font-weight: lighter;
  font-size: 1.5rem;
}
.vision-box p {
  text-align: start;
  font-size: 1.1rem;
  color: rgb(95, 95, 95);
}
.vision-box {
  margin-bottom: 2rem;
  line-height: 1.5rem;
}
.mission-box {
  margin-bottom: 2rem;
  line-height: 1.5rem;
}
.mission-box h2 {
  font-weight: lighter;
  font-size: 1.5rem;
}
.mission-box ul {
  font-size: 1.1rem;
  color: rgb(95, 95, 95);
  list-style: none;
}
.mission-box i {
  color: black;
}
.black-box {
  display: flex;
  gap: 7rem;
  background-color: rgb(47, 47, 47);
  color: white;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}
.black-box-button button {
  font-size: 0.9rem;
  color: white;
  transform: translateX(-3.5rem);
  background-color: transparent;
  padding: 0.5rem;
  border-color: white;
  transition: 0.5s;
}
.black-box-button button:hover {
  transition: 0.5s;
  color: black;
  background-color: white;
}
.verticalImg {
  overflow-x: hidden;
}
.verticalImg img {
  max-width: 61%;
  transform: scaleX(1.5) translateX(3.5rem);
}
.partners-wrap {
  margin-top: 7rem;
}
.partners-heading {
  margin-bottom: 3rem;
}
.partners-logo-wrap {
  color: rgb(60, 60, 60);
  display: flex;
  gap: 3rem;
  justify-content: center;
  animation: scroll-left 20s linear infinite;
}
@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.partners-logo-wrap:hover {
  animation-play-state: paused;
}

/* AboutUs responsive site */
@media (max-width: 1024px) {
  .aboutUs-wrapper {
    padding: 2rem;
  }
  .heading2 h1 {
    font-size: 2.2rem;
  }
  .HeadingPara {
    flex-direction: column;
    gap: 2rem;
  }
  .column-wrapper {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
  .verticalImg img {
    max-height: 400px;
    transform: scaleX(3) translateX(7.5rem);
  }
  .vision-box p br {
    display: none;
  }
  .partners-wrap {
    margin-top: 3.5rem;
  }
  .partners-logo-wrap {
    height: 40px;
  }
  .black-box {
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .aboutUs-wrapper {
    padding: 2rem;
  }
  .heading2 h1 {
    font-size: 3rem;
  }
  .HeadingPara {
    flex-direction: column;
    gap: 2rem;
  }
  .column-wrapper {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
  .verticalImg img {
    transform: scaleX(2) translateX(7rem);
  }
  .partners-wrap {
    margin-top: 3rem;
  }
  .partners-logo-wrap {
    height: 30px;
  }
}
@media (max-width: 480px) {
  .aboutUs-wrapper {
    padding: 1rem;
  }
  .heading2 h1 {
    font-size: 1.8rem;
  }
  .HeadingPara {
    flex-direction: column;
    gap: 2rem;
  }
  .column-wrapper {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .vision-box p {
    text-align: center;
  }
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
  .verticalImg img {
    transform: scaleX(1.6) translateX(3rem);
  }
  .black-box {
    font-size: 1.2rem;
  }
  .partners-wrap {
    margin-top: 3rem;
  }
  .partners-logo-wrap {
    height: 30px;
  }
}
@media (max-width: 425px) {
}
/* AboutUs end */

/* Blog post start */

.blog-post-wrapper {
  overflow: hidden;
  background-color: rgb(206, 206, 110);
  padding: 6rem;
}
.blog-post-heading {
  margin-bottom: 2rem;
}
.subheading-flex-wrap {
  display: flex;
  gap: 10rem;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.subheading-para {
  line-height: 1.5rem;
}
.subheading h1 {
  width: 80%;
  color: rgb(40, 40, 40);
}
.subheading-para {
  width: 33%;
  color: rgb(50, 50, 50);
}
.subheading-button button {
  font-size: 1.3rem;
  background-color: transparent;
  border-width: 1px;
  height: 3rem;
  width: 10rem;
  transition: 0.5s;
  cursor: pointer;
}
.subheading-button button:hover {
  transition: 0.5s;
  color: white;
  background-color: rgb(91, 75, 48);
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.grid-img img {
  width: 100%;
}
.grid-box {
  background-color: rgb(151, 127, 65);
  overflow: hidden;
}
.grid-lower-wrapper {
  padding: 1rem;
}
.grid-head h2 {
  padding-bottom: 1.5rem;
}
.grid-para {
  padding-bottom: 1rem;
}
.grid-anchor a {
  text-decoration: none;
  color: rgb(65, 31, 116);
  transition: 0.5s;
}
.grid-anchor a:hover {
  transition: 0.5s;
  color: rgb(255, 255, 255);
}
.grid-img {
  position: relative;
  transition: transform 0.3s ease;
}
.grid-img-fg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.5s ease;
}
.grid-box:hover .grid-img-fg {
  background-color: rgb(0, 0, 0, 0.3);
}
.grid-box:hover .grid-img {
  transform: rotate(1deg) scale(1.02);
  transition: transform 0.3s ease;
}
/* Blog post responsive site */
@media (max-width: 480px) {
  .blog-post-wrapper {
    padding: 1.5rem;
  }
  .blog-post-heading {
    text-align: center;
  }
  .subheading-flex-wrap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1rem;
  }
  .subheading h1 {
    font-size: 1.3rem;
    white-space: nowrap;
    max-width: 30%;
  }
  .subheading-para {
    max-width: 80%;
  }
  .subheading-button button {
    font-size: 1rem;
    height: 3rem;
    width: 8rem;
    transform: translateX(-3rem);
  }
  .grid-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .blog-post-wrapper {
    padding: 2rem;
  }
  .subheading-flex-wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.1rem;
  }
  .subheading {
    white-space: nowrap;
  }
  .subheading-para {
    width: 100%;
  }
  .subheading-button button {
    transform: translateX(0.2rem);
    font-size: 1rem;
    height: 3rem;
    width: 8rem;
  }
  .grid-wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1024px) {
  .blog-post-wrapper {
    padding: 2rem;
  }
  .subheading-flex-wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.3rem;
  }
  .subheading {
    white-space: nowrap;
  }
  .subheading-para {
    width: 100%;
  }
  .subheading-button button {
    font-size: 1.1rem;
    height: 3rem;
    width: 8rem;
  }
}

/* Blog post end */

/* Footer start */
.footer-wrapper {
  overflow: hidden;
  background-color: rgb(255, 255, 226);
  padding-bottom: 4rem;
}

.footer-img-wrap {
  position: relative;
  width: 80rem;
  height: 20rem;
  padding: 3rem 7.5rem;
}

.footer-img-wrap img {
  width: 100%;
  height: 100%;
}

.newsLetterHead-wrap,
.paraEmail-wrap {
  position: absolute;
  left: 7.5rem;
  right: 7.5rem;
  z-index: 1;
  color: rgb(255, 255, 255);
  padding: 5rem 3rem;
  font-weight: bolder;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px black;
}

.newsLetterHead-wrap {
  top: 3rem;
}

.paraEmail-wrap {
  bottom: 3rem;
}

.newsLetterHead-wrap h1 {
  font-size: 2rem;
}

.paraEmail-wrap p {
  font-size: 1rem;
  margin-bottom: 1rem;
  max-width: 600px;
}

.paraEmail-wrap {
  display: flex;
  gap: 15rem;
}

.email-class,
.submit-class {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 4px;
}

.submit-class {
  background-color: rgb(171, 136, 95);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-class:hover {
  color: black;
  background-color: rgb(255, 224, 165);
}
.contact-details {
  display: flex;
  gap: 10rem;
  padding: 0 3rem;
  font-size: 1.2rem;
}
.contact-details img {
  height: 40px;
}
.contact-details .details-column p {
  color: rgb(99, 99, 99);
  font-size: 1.3rem;
  max-width: 500px;
}
.details-column img {
  padding-bottom: 1rem;
}
.details-column p {
  line-height: 1.5rem;
}
.details-column {
  max-width: 350px;
}
.foot-head {
  padding-bottom: 1rem;
}
.col1 {
  padding-bottom: 2rem;
}
.foot-list a {
  text-decoration: none;
  color: rgb(99, 99, 99);
}
.foot-list li {
  list-style: none;
}
.list-item {
  padding-bottom: 1.2rem;
}

/* Footer responsive site */

@media (max-width: 1024px) {
  .footer-img-wrap {
    width: 100rem;
    height: 22rem;
    padding: 3rem 2rem;
  }

  .footer-img-wrap img {
    width: 60%;
    height: 100%;
  }

  .newsLetterHead-wrap,
  .paraEmail-wrap {
    left: 0.5rem;
    right: 3.5rem;
    padding: auto 3rem;
    padding-top: 10rem;
  }
  .newsLetterHead-wrap {
    top: -4rem;
  }

  .paraEmail-wrap {
    bottom: 0;
  }

  .newsLetterHead-wrap h1 {
    font-size: 2.3rem;
  }

  .paraEmail-wrap p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 900px;
  }

  .paraEmail-wrap {
    flex-direction: column;
    gap: 3rem;
  }

  .contact-details {
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
    font-size: 1.5rem;
  }
  .contact-details img {
    height: 40px;
  }
  .contact-details .details-column p {
    font-size: 1.5rem;
    max-width: 900px;
  }
  .details-column p {
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .footer-img-wrap {
    width: 88rem;
    height: 22rem;
    padding: 3rem 2rem;
  }

  .footer-img-wrap img {
    width: 50%;
    height: 100%;
  }

  .newsLetterHead-wrap,
  .paraEmail-wrap {
    left: 0.5rem;
    right: 3.5rem;
    padding: auto 3rem;
    padding-top: 10rem;
  }
  .newsLetterHead-wrap {
    top: -4rem;
  }

  .paraEmail-wrap {
    bottom: 0;
  }

  .newsLetterHead-wrap h1 {
    font-size: 2rem;
  }

  .paraEmail-wrap p {
    font-size: 1rem;
    margin-bottom: 2rem;
    max-width: 550px;
  }

  .paraEmail-wrap {
    flex-direction: column;
    gap: 3rem;
  }

  .contact-details {
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
    font-size: 1.3rem;
  }
  .contact-details img {
    height: 40px;
  }
  .contact-details .details-column p {
    font-size: 1.3rem;
    max-width: 900px;
  }
  .details-column p {
    padding-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .footer-wrapper {
    padding-bottom: 1rem;
  }

  .footer-img-wrap {
    width: 46rem;
    height: 20rem;
    padding: 3rem 1rem;
  }

  .footer-img-wrap img {
    width: 20rem;
    height: 20rem;
  }

  .newsLetterHead-wrap,
  .paraEmail-wrap {
    left: -1.5rem;
    right: 0rem;
    padding: auto 3rem;
    padding-top: 10rem;
  }
  .newsLetterHead-wrap {
    top: -4rem;
  }

  .paraEmail-wrap {
    bottom: 0;
  }

  .newsLetterHead-wrap h1 {
    font-size: 1.1rem;
  }

  .paraEmail-wrap p {
    font-size: 1rem;
    margin-bottom: 1rem;
    max-width: 280px;
  }

  .paraEmail-wrap {
    flex-direction: column;
    gap: 2rem;
  }

  .contact-details {
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
    font-size: 1rem;
  }
  .contact-details img {
    height: 30px;
  }
  .contact-details .details-column p {
    font-size: 1rem;
    max-width: 1000px;
  }
  .details-column p {
    padding-bottom: 1rem;
  }
  .email-class,
  .submit-class {
    padding: 0.6rem 0.5rem;
    font-size: 0.8rem;
    border: none;
    outline: none;
    border-radius: 4px;
  }
}

/* Footer end */
